<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>._A</key>
    <array/>
    <key>._C</key>
    <array/>
    <key>._E</key>
    <array/>
    <key>._Hleft</key>
    <array>
      <string>N</string>
      <string>M</string>
      <string>B</string>
      <string>E</string>
      <string>F</string>
      <string>L</string>
      <string>K</string>
      <string>D</string>
      <string>R</string>
      <string>P</string>
      <string>I</string>
    </array>
    <key>._Hriht</key>
    <array>
      <string>M</string>
      <string>N</string>
      <string>I</string>
    </array>
    <key>._I</key>
    <array/>
    <key>._N</key>
    <array/>
    <key>._O</key>
    <array/>
    <key>._Oleft</key>
    <array>
      <string>C</string>
      <string>Q</string>
      <string>G</string>
    </array>
    <key>._Oright</key>
    <array>
      <string>D</string>
      <string>Q</string>
    </array>
    <key>._S</key>
    <array/>
    <key>._U</key>
    <array/>
    <key>._Y</key>
    <array/>
    <key>._Z</key>
    <array/>
    <key>._a</key>
    <array/>
    <key>._c</key>
    <array/>
    <key>._e</key>
    <array/>
    <key>._hLeft</key>
    <array>
      <string>k</string>
      <string>l</string>
    </array>
    <key>._i</key>
    <array/>
    <key>._n</key>
    <array/>
    <key>._nLeft</key>
    <array>
      <string>m</string>
      <string>r</string>
      <string>f</string>
      <string>i</string>
    </array>
    <key>._nRight</key>
    <array>
      <string>m</string>
      <string>h</string>
    </array>
    <key>._o</key>
    <array/>
    <key>._oLeft</key>
    <array>
      <string>e</string>
      <string>c</string>
      <string>d</string>
      <string>q</string>
    </array>
    <key>._oRight</key>
    <array>
      <string>b</string>
      <string>p</string>
    </array>
    <key>._s</key>
    <array/>
    <key>._u</key>
    <array/>
    <key>._y</key>
    <array/>
    <key>._z</key>
    <array/>
    <key>_A</key>
    <array/>
  </dict>
</plist>
